.sizer {
  background: radial-gradient(
    ellipse at center,
    rgba(255, 254, 234, 1) 0%,
    rgba(255, 254, 234, 1) 35%,
    #ddddd4 100%
  );
  height: 100%;
  width: 100%;
  border-radius: 3px;
  position: relative;
  display: flex;
  align-self: center;
  justify-self: center;
  overflow: hidden;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg)
    repeat-x;
  position: absolute;
  top: 20px;
  width: 6500px;
  height: 150px;
  animation: wave 3.75s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.5;
}

.wave:nth-of-type(2) {
  position: absolute;
  animation: wave 3.75s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 0.5;
}

.wave:nth-of-type(3) {
  position: absolute;
  animation: wave 3.75s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.2s infinite,
    swell 7s ease -2s infinite;
  opacity: 0.5;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -10px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
