.wrapper {
  width: 200px;
  height: 184px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.playbuttonon {
  height: 150px;
  width: 150px;
  background-color: black;
  border-radius: 7px;
  font-size: 0px;
  border: solid 4px white;
  filter: drop-shadow(0 0 14px white);
  backface-visibility: hidden;
  white-space: nowrap;
  overflow: hidden;
}

.playbuttonoff {
  font-family: "Adequate-ExtraLight";
  height: 100px;
  width: 100px;
  background-color: rgba(165, 163, 163, 0);
  border: solid 3px rgb(255, 255, 255);
  border-radius: 5px;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.playbuttonoff:hover {
  background-color: lightgrey;
  color: black;
}

.dimension {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  backface-visibility: hidden;
}

.slider {
  margin-top: 8px;
  width: 95px;
  display: inline-block;
  background: none;
}

.sliderlong {
  width: 146px;
  display: inline-block;
  margin-top: 7px;
  z-index: 10;
  background: none;
}

@-moz-document url-prefix() {
  .slider {
    margin-top: 1px;
  }
  .sliderlong {
    margin-top: 1px;
  }
}

input[type="range"] {
  -webkit-appearance: none;
  cursor: pointer;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background-color: silver;
  height: 4px;
  border: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  background: #484848;
  border-radius: 50%;
  margin-top: -4px;
  box-shadow: 0px 0px 1px 1.5px white;
}

input[type="range"]::-moz-range-track {
  background-color: silver;
  height: 4px;
  border: none;
}

input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  height: 10px;
  width: 10px;
  background: #484848;
  border-radius: 50%;
  margin-top: -4px;
  border-color: white;
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-50px) scale(0.5);
    transform: translateY(-50px) scale(0.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-50px) scale(0.5);
    transform: translateY(-50px) scale(0.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.scale-out-center {
  -webkit-animation: scale-out-center 0.3s linear both;
  animation: scale-out-center 0.3s linear both;
}

@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.slide-out-top {
  -webkit-animation: slide-out-top 0.3s linear both;
  animation: slide-out-top 0.3s linear both;
}

@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(25px) scale(1.5);
    transform: translateY(25px) scale(1.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(25px) scale(1.5);
    transform: translateY(25px) scale(1.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
