.soundboard {
  background-color: rgba(211, 211, 211, 0.3);
  height: 700px;
  width: 800px;
  padding: 16px 16px 16px 16px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.soundboard-blur {
  background-color: rgba(31, 31, 31, 0.3);
  height: 700px;
  width: 800px;
  padding: 16px 16px 16px 16px;
  border-radius: 10px;
  filter: blur(3px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.soundboard-title-on {
  text-align: center;
  font-weight: normal;
  color: white;
  font-size: 26px;
  margin: 0px;
  font-family: "AmsdamRegular";
  text-shadow: 0px 0px 6px rgb(255, 255, 255);
}

.soundboard-title-off {
  text-align: center;
  font-weight: normal;
  color: rgb(116, 116, 116);
  font-size: 26px;
  margin: 0px;
  font-family: "AmsdamRegular";
}

.buttons-wrapper {
  height: 600px;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

.options {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.counter-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background-anim {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.powerswitch-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100px;
}

.powerswitch {
  position: absolute;
  margin: 0 auto;
  border-radius: 40px;
}

input[type="checkbox"] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#_3rd-toggle-btn span {
  display: block;
  width: 75px;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 20px;
  transition: 0.5s ease background-color;
}

#_3rd-toggle-btn span:before {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 0px 10px #d7d7d7;
  transform: translate(0px, 0px);
  transition: 0.6s ease transform, 0.6s box-shadow;
}

#_3rd-toggle-btn span:after {
  content: "";
  position: absolute;
  width: 0px;
  left: 16px;
  height: 12px;
  border: 4px solid rgb(57, 255, 20);
  box-shadow: 0px 0px 6px rgb(123, 255, 0);
  transition: 0.4s ease width, 0.4s ease border-radius, 0.62s ease transform;
}

#_3rd-toggle-btn input[type="checkbox"]:checked + span:before {
  transform: translate(37px, 0px);
  background-color: grey;
  box-shadow: none;
}

#_3rd-toggle-btn input[type="checkbox"]:checked + span:after {
  width: 12px;
  border-radius: 50%;
  transform: translate(31px, 0px);
  border: 4px solid black;
  box-shadow: none;
}

#_3rd-toggle-btn input[type="checkbox"]:checked + span {
  background-color: rgb(31, 31, 31);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.fireflieswrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 190px;
  background-color: rgba(0, 0, 0, 0);
  font-family: "amsdamregular";
}

.fireflieslabel {
  font-size: 18px;
  color: white;
  text-shadow: 0px 0px 6px rgb(243, 255, 134);
}

.firefly-input {
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  width: 27px;
  height: 25px;
  margin: none;
  padding-left: none;
  border: solid 2px white;
  border-radius: 3px;
  color: white;
  font-family: "amsdamregular";
  font-size: 19px;
  text-align: center;
  padding-top: 3px;
}

.counter-button {
  color: white;
  text-align: center;
  font-size: 17.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  padding: 0;
  border: none;
}

.counter-button:active {
  color: yellow;
}

.disable-fireflies {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33px;
  width: 33px;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: solid 2px white;
  border-radius: 3px;
  color: red;
  font-size: 26px;
}

.disable-fireflies:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.disable-fireflies:active {
  border: solid 2.5px red;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.mutebtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33px;
  width: 33px;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: solid 2px white;
  border-radius: 3px;
  color: rgb(71, 233, 255);
  font-size: 24px;
}

.mutebtn:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.mutebtn:active {
  border: solid 3px rgb(71, 233, 255);
}

@font-face {
  font-family: "digital-7";
  src: url("digital-7.ttf");
}

@font-face {
  font-family: "AmsdamRegular";
  src: url("AmsdamRegular.ttf");
}

@font-face {
  font-family: "Adequate-ExtraLight";
  src: url("Adequate-ExtraLight.ttf");
}

.timer-wrapper {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 30px;
  width: 115px;
}

.clock-wrapper {
  margin: 0;
  display: flex;
  justify-items: center;
  border: solid 2px white;
  border-radius: 3px;
  color: white;
  height: 30px;
}

.timer {
  margin: 0;
  font-size: 30px;
  font-family: "digital-7";
  width: 30px;
  color: white;
  border: none;
  background-color: black;
  font-size: 30px;
  position: relative;
  width: 30px;
  right: 0px;
  text-align: center;
}

.colon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-family: "digital-7";
  background-color: black;
  position: relative;
  font-size: 35px;
  top: -35px;
  padding-bottom: 0px;
  outline: none;
  border: none;
  animation: colon-flicker 2s infinite steps(1, end);
}

.timer:focus {
  background-color: grey;
  outline: none;
}

.timer-start {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33px;
  width: 33px;
  background-color: rgba(0, 0, 0, 1);
  outline: none;
  border: solid 2px white;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.timer-start:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.timer-start:active {
  border: solid 3px rgb(219, 230, 69);
}

.info-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  width: 100px;
  background-color: rgba(14, 0, 46, 0.9);
  outline: none;
  border: solid 2px white;
  border-radius: 3px;
  color: #ffcd35;
  font-size: 21px;
  font-family: "Adequate-ExtraLight";
  text-shadow: 0px 0px 6px rgb(243, 255, 134);
}

.info-button:hover {
  background-color: rgba(14, 0, 46, 0.2);
}

.info {
  min-height: 700px;
  min-width: 800px;
  max-height: 700px;
  max-width: 800px;
  padding: 16px 16px 16px 16px;
  background-color: rgba(14, 0, 46, 0.7);
  border: solid 1.5px #ffcd35;
  outline: none;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.infooverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(12, 12, 12, 0.6);
  overflow: auto;
}

.header-bar {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.contact-details {
  font-size: 40px;
  opacity: 0.7;
  color: #ffcd35;
}

.contact-details:hover {
  opacity: 1;
}

.email {
  margin: 0px 0px 5px 5px;
  font-size: 24px;
  font-weight: lighter;
  color: white;
}

.info-exit-outer {
  position: relative;
  margin-left: auto;
  width: 50px;
  cursor: pointer;
}

.info-exit-inner {
  width: inherit;
  text-align: center;
}

.info-exit-inner:before,
.info-exit-inner:after {
  position: absolute;
  content: "";
  height: 1px;
  width: inherit;
  background: #ffc61b;
  left: 0;
  transition: all 0.2s ease-in;
}

.info-exit-inner:before {
  top: 50%;
  transform: rotate(45deg);
}

.info-exit-inner:after {
  bottom: 50%;
  transform: rotate(-45deg);
}

.info-exit-label {
  font-size: 0.8em;
  line-height: 4em;
  text-transform: uppercase;
  color: #ffcd35;
  transition: all 0.3s ease-in;
  opacity: 0;
  cursor: pointer;
}

.subheadings {
  margin: 0;
  font-size: 18px;
  font-weight: lighter;
  color: #ffcd35;
}

.introduction {
  font-size: 17px;
  font-weight: lighter;
  color: white;
  padding: 0px 5px 0px 5px;
}

.functionalities {
  font-size: 17px;
  font-weight: lighter;
  color: white;
  padding: 0px 5px 0px 5px;
}

.functionalities-list {
  font-size: 15px;
  font-weight: lighter;
  color: white;
}

.references {
  font-size: 17px;
  font-weight: lighter;
  color: white;
  padding: 0px 5px 0px 5px;
}

.refs-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.anim-refs {
  font-size: 14px;
  color: #ffcd35;
  font-weight: lighter;
}

.info-exit-outer:hover label {
  opacity: 1;
}

.info-exit-outer:hover .info-exit-inner:before,
.info-exit-outer:hover .info-exit-inner:after {
  transform: rotate(0);
}

.info-exit-outer:hover .info-exit-inner:before {
  top: 0;
}

.info-exit-outer:hover .info-exit-inner:after {
  bottom: 0;
}

.shadow-inset-center {
  -webkit-animation: shadow-inset-center 5s both;
  animation: shadow-inset-center 5s both;
}

@-webkit-keyframes shadow-inset-center {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 1);
  }
  100% {
    -webkit-box-shadow: inset 0 0 100px 0px rgba(0, 0, 0, 1);
    box-shadow: inset 0 0 100px 0px rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 0.35);
  }
}
@keyframes shadow-inset-center {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 1);
  }
  100% {
    -webkit-box-shadow: inset 0 0 100px 0px rgba(0, 0, 0, 1);
    box-shadow: inset 0 0 100px 0px rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 0.35);
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes colon-flicker {
  0% {
    color: white;
  }
  50% {
    color: black;
  }
}

@media screen and (max-width: 900px) {
  .soundboard {
    transform: scale(0.7);
  }
  .soundboard-blur {
    transform: scale(0.7);
  }

  .info {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.7);
  }
  .timer {
    margin: 0;
    font-size: 30px;
    font-family: "digital-7";
    line-height: 30px;
    padding-bottom: 6px;
    width: 30px;
    color: white;
    border: none;
    background-color: black;
    font-size: 24px;
    position: relative;
    right: 0px;
    text-align: center;
  }

  .colon {
    display: block;
    padding-top: 2px;
    height: 28px;
  }
}

@media screen and (max-width: 600px) {
  .soundboard {
    transform: scale(0.5);
  }
  .soundboard-blur {
    transform: scale(0.5);
  }
  .info {
    transform: scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
  }
  .timer {
    margin: 0;
    font-size: 30px;
    font-family: "digital-7";
    line-height: 30px;
    padding-bottom: 6px;
    width: 30px;
    color: white;
    border: none;
    font-size: 24px;
    position: relative;
    right: 0px;
    text-align: center;
  }

  .colon {
    display: block;
    padding-top: 1px;
    height: 29px;
  }

  @media not all and (min-resolution: 0.001dpcm) {
    @media {
      .timer {
        width: 22px;
        border-radius: 0px;
        padding-bottom: 1px;
        margin: 0px;
      }
      .colon {
        display: block;
        padding-bottom: 1px;
        height: 28px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .soundboard {
    transform: scale(0.4);
  }
  .soundboard-blur {
    transform: scale(0.4);
  }
  .info {
    transform: scale(0.4);
    transform: translate(-50%, -50%) scale(0.4);
  }
  .timer {
    margin: 0;
    font-size: 30px;
    font-family: "digital-7";
    line-height: 30px;
    padding-bottom: 6px;
    width: 30px;
    color: white;
    border: none;
    background-color: black;
    font-size: 24px;
    position: relative;
    right: 0px;
    text-align: center;
  }

  .colon {
    display: block;
    padding-top: 1px;
    height: 29px;
  }
}

@media screen and (max-width: 300px) {
  .soundboard {
    transform: scale(0.3);
  }
  .soundboard-blur {
    transform: scale(0.3);
  }
  .info {
    transform: scale(0.3);
    transform: translate(-50%, -50%) scale(0.3);
  }
  .timer {
    margin: 0;
    font-size: 30px;
    font-family: "digital-7";
    line-height: 30px;
    padding-bottom: 6px;
    width: 30px;
    color: white;
    border: none;
    background-color: black;
    font-size: 24px;
    position: relative;
    right: 0px;
    text-align: center;
  }

  .colon {
    display: block;
    padding-top: 1px;
    height: 29px;
  }
}
