.rsizer {
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at bottom, #0b011d 0%, #06000f 100%);
  overflow: hidden;
}


.lamp {
  position: absolute;
  height: 120px;
  width: 120px;
  top: 0px;
  left: 22px;
  background: url("lamp.png") no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  transform-origin: top;
  animation: lampsway 1s infinite;
}

.glowin {
  position: absolute;
  height: 60px;
  width: 60px;
  top: 45px;
  left: 40px;
  border-radius: 50%;
  transform-origin: top;
  opacity: 0.3;
  animation: lampglow 1.3s infinite;
  border: solid 1px red;
}

@keyframes lampsway {
  0% {
    transform: rotate(9deg);
  }

  50% {
    transform: rotate(8deg);
  }

  100% {
    transform: rotate(9deg);
  }
}

@keyframes lampglow {
  0% {
    box-shadow: inset 0 0 -30px #e9c618;
  }

  50% {
    box-shadow: inset 0 0 34px #e9c618;
    box-shadow: 0 0 -30px #c4a300;
  }

  100% {
    box-shadow: inset 0 0 -30px #e9c618;
  }
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 -10px #c4a300;
  }
  40% {
    box-shadow: 0 0 20px #c4a300;
  }
  60% {
    box-shadow: 0 0 20px #c4a300;
  }
  100% {
    box-shadow: 0 0 -10px #c4a300;
  }
}
